/* navbar design */
.logo-svg {
  height: 120px;
  width: 120px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container {
  height: 100vh;
  width: 15vw;
  background-color: #006770;
  padding: 20px 0px;
}

.link-list,
.link-list div {
  list-style: none;
  display: flex;
  align-items: center;
}

.link-list * {
  text-decoration: none;
  color: #f0f0f0;
}

.nav-links ul {
  padding: 20px 20px;
}