.Exp-form-container,
.reminder-form-container {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 80vh;
    border-radius: 12px;
}

.form-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px;
    background-color: #e6fff7;
    border-radius: 12px 12px 0px 0px;
}

.form-head svg {
    cursor: pointer;
}

.form-title {
    color: #006770;
    font-family: 'Exo';
    font-weight: bold;
}