.Exp-form-container {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 80vh;
    border-radius: 12px;
}

.form-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px;
    background-color: #e6fff7;
    border-radius: 12px 12px 0px 0px;
}

.form-head svg {
    cursor: pointer;
}

.form-title {
    color: #006770;
    font-family: 'Exo';
    font-weight: bold;
}

.lable-tag{
    font-size: 15px;
    font-family: Mooli;
    font-weight: 700;
    margin-left: 20px; 
    display: flex;
}

.input-tag{
    margin: 10px 0px 10px 30px;
    border: none;
    outline: none;
    background-color: #f2f4f7;
    padding: 10px 10px;
    border-radius: 12px;
    font-family: 'mooli';
    width: 60%;
}

.title{
    font-size: 15px;
    font-family: 'Exo';
    font-weight: 600;
    margin: 20px; 
}

.expense-submit-btn{
    margin-left: 150px;
    margin-top: 20px;
    background: #006770;
    height: 42px;
    width: 100px;
    border-radius: 8px;
    font-family: 'exo';
    font-size: 16px;
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, 0.500);
    color: #e6fff7;
}